/* MyProfile.module.css */
.menu {
  display: flex;
}

/* Default styles for the tabs */
.tab {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ccc; /* Default background color for unselected tabs */
  cursor: pointer;
  user-select: none;
  transition: color 0.2s; /* 텍스트 색상에 대한 트랜지션 설정 */
}

/* Styles for the selected tab */
.activeTab {
  background-color: #333; /* Background color for selected tab */
  color: #fff; /* Text color for selected tab */
}

/* Styles for the inactive tab */
.inactiveTab {
  color: #888; /* Text color for unselected tab */
}

/* Hover styles for tabs */
.tab:hover {
  color: #555; /* Text color when hovering */
}
