.dropdown-toggle  {
  align-items: center;
  padding: 10px;
  background-color: #d9d9d9;
  width: 15em;
  border-radius: 20px;
  border-color: transparent;
  margin-right: -28px;
  height: 3.5em;
  display: flex;
  position: relative;
  top: 5px;
}

.dropdown-menu {
    display: block; 
    position: absolute;
    background: #d9d9d9;
    padding: 1.5em;
    border: 1px solid none;
    border-radius: 0.5em;
    width: 15em;
  }


  .dropdown-menu :hover {
  color: #1b4607;
  text-decoration: underline;
  }


  .location-menu {
    width: 2em;
    padding: 5px;
  }